body {
    background-color: #000000; /* Cor de fundo de toda a página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    text-align: center;
}

h2 {
    color: #970000; /* Cor do título */
}

p {
    color: #970000; /* Cor do texto de descrição */
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fff; /* Cor do texto do link */
    background-color: #970000; /* Cor de fundo do link */
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
